<section class="bg-gray-100 py-12">
    <div class="container mx-auto flex justify-center">
        <div class="w-full md:w-2/3 lg:w-1/2">
            <h2 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Profesores</h2>

            <p class="max-w-md mx-auto mt-3 text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl m-5">
                Nos enorgullece presentar a nuestros maestros de artes marciales, cuyos conocimientos y dedicación han dejado una marca indeleble en nuestra comunidad. Cada uno de ellos aporta una riqueza de experiencia y una pasión innegable por enseñar.
            </p>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <!-- Ejemplo 1 -->
                <div class="bg-white p-6 rounded-md shadow-md">
                    <img src="images/profe1.jpg" alt="Miembro del equipo 1" class="w-full h-32 object-cover mb-6 rounded-md">
                    <h3 class="text-lg font-semibold text-gray-800">Maria Rodriguez</h3>
                    <p class="text-gray-600">Maestra de artes marciales</p>
                </div>

                <!-- Ejemplo 2 -->
                <div class="bg-white p-6 rounded-md shadow-md">
                    <img src="images/profe2.jpg" alt="Miembro del equipo 2" class="w-full h-32 object-cover mb-6 rounded-md">
                    <h3 class="text-lg font-semibold text-gray-800">Juan Perez</h3>
                    <p class="text-gray-600">Maestro de artes marciales</p>
                </div>

            </div>
        </div>
    </div>
</section>





