---
---
<div id="donate-button-container" class="container m-5">
    <div id="donate-button" class="mx-auto text-center"></div>
    <script is:inline src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
    <script>
    PayPal.Donation.Button({
    env:'production',
    hosted_button_id:'JSMZRJQJCMMCY',
    image: {
    src:'https://www.paypalobjects.com/es_XC/i/btn/btn_donate_LG.gif',
    alt:'Donar con el botón PayPal',
    title:'PayPal - The safer, easier way to pay online!',
    }
    }).render('#donate-button');
    </script>
</div>