---
interface Props {
	href: string;
	title: string;
}
const { href, title} = Astro.props;
---

<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href={href}>{title}</a></li>